---
layout: page
title: About
subtitle: Some personal information.
permalink: /about/
---

<h2>About this Blog</h2>
<p>This blog is for Mingrui Cao to share his experience of learning and researching. </p>
	<p><ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></span></i> Visitors</li>
	</ul></p>

<h2>About me</h2>
<p>A lonely boy struggled in study and love. </p>
<p>My name is Mingrui Cao (AKA Leo Cao, AKA Krad, AKA Exia), I received my undergraduate degree in UESTC and now is pursuing the master degree in BUPT.  </p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

<p>In addition, if you love FALL OUT BOY, please let me know! We are sure to have much to talk about. My favorite song is <i>Just One Yesterday.</i></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
